{% extends "base.html.twig" %}

{% block title %}Gestion des catégories{% endblock %}

{% block body %}
<div class="text-center my-5">
    <h1 class="my-4">Gestion des catégories</h1>
    <div class="alert alert-info">🗨️ Vous trouverez ci-dessous le tableau contenant l'ensemble des catégories du blog</div>

    {% for message in app.flashes('success') %}
        <div class="col-md-5 mx-auto alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}

    <a href="{{ path('admin_new_categorie') }}" class="btn btn-primary mt-3">Crée une catégorie</a>
</div>

<table class="table table-bordered table-striped table-hover text-center">
    <thead class="table-dark">
        <tr>
            {% for colonne in colonnes %}
                {% if colonne != 'id' %}
                    <th>{{ colonne }}</th>
                {% endif %}
            {% endfor %}
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.title }}</td>
                <td>{{ categorie.description }}</td>
                <td><a href="{{ path('admin_edit_categorie', {"id": categorie.id }) }}" class="btn btn-warning"> <i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a href="{{ path('admin_delete_categorie', {"id": categorie.id }) }}" class="btn btn-danger"> <i class="fa-solid fa-trash-can"></i></a></td>

            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}