{% extends "base.html.twig" %}

{% block body %}

<h1>
    {% if editMode %}
        Modification de l'article 
    {% else %} 
        Création d'un article 
    {% endif %}
</h1>

{# {{ form(formCategory) }} #}
{# form() est un fonction twig permettant d'afficher un formulaire #}

{{ form_start(formCategory, {
    attr : {
        novalidate: 'novalidate'
    }
}) }}
{# form_start() et form_end() permettent de délimiter un formulaire, de modifier ses champs, de changer la méthode du formulaire ...0 #}

{# form_widget() permet de gérer l'affichage d'un champ #}
{# {{ form_widget(formCategory.title) }}
{{ form_widget(formCategory.content) }}
{{ form_widget(formCategory.image) }} #}

{# form_row() permet de gérer l'affichage d'un champ et de son label  #}
{{ form_row(formCategory.title, {
    label : "Titre",
    attr: {
        placeholder: "Titre de la catégorie"
    }
}) }}
{{ form_row(formCategory.description) }}

<button type="submit" class="btn btn-primary mt-2">
{% if editMode %}
    ✅ Enregistrer les modifications
{% else %}
    ✅ Ajouter l'article
{% endif %}
</button>

{{ form_end(formCategory) }}

{% endblock %}