{% extends "base.html.twig" %}

{% block body %}

<div class="text-center">
<h1 class="mb-4">
    {% if editMode %}
        Modification de l'article
    {% else %}
        Création d'un article 
    {% endif %}
</h1>
</div>

{# form() est une fonction twig permettant d'afficher un formulaire #}
{# {{ form(formArticle) }} #}

{{ form_start(formArticle, {
    attr : {
        novalidate: 'novalidate'
    }
}) }}
{# form_start() et form_end() permettent de délimiter un formulaire, de modifier ses champs, de changer la méthode du formulaire ...  #}

{# form_row() permet de gérer l'affichage d'un champ et de son label #}
{{ form_row(formArticle.title, { 'attr': {'placeholder': "Titre de l'article"} }) }}
{{ form_row(formArticle.category, { 'attr': {'placeholder': "La catégorie de l'article"} }) }}
{{ form_row(formArticle.content, { 'attr': {'placeholder': "Contenu de l'article"} }) }}
{{ form_row(formArticle.imageFile, { label: "Ajouter une image" }) }}

<div class="text-center">
<button type="submit" class="btn btn-primary mt-2">
    {% if editMode %}
        Enregistrer les modifications ✅
    {% else %}
        Ajouter l'article ✅
    {% endif %}
</button>
</div>

{{ form_end(formArticle) }}

{% endblock %}